<h2><strong>Welcome to the Wiki Bot the Facebook Messenger bot for Wikipedia.</strong></h2>
<p>&nbsp;Checkout the 
  <a href="http://m.me/wikimessengerbot">bot in action at the Messenger platform</a>
</p>